<div class="jumbotron">
  <div class="container">
    <h1>Users</h1>
    <p>All users from Reddit database.</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <% @users.each do |user| %>
        <div class="list-group col-xs-12 col-sm-6">
          <%= link_to(user, class: "list-group-item") do %>
            <div class="media-body">
              <h3><%= user.username %></h3>
              <small><%= user.email %></small>
            </div>

            <div class="media-right">
              <div class="well well-sm" align="center">
                <h3><%= user.posts.count %></h3>
                <hr>
                <h6>Posts</h6>
              </div>
            </div>
            <div class="media-right">
              <div class="well well-sm" align="center">
                <h3><%= user.comments.count %></h3>
                <hr>
                <h6>Comments</h6>
              </div>
            </div>
            <div class="media-right">
              <div class="well well-sm" align="center">
                <h3><%= user.votes.count %></h3>
                <hr>
                <h6>Votes</h6>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= link_to 'New User', new_user_path %>
