<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="media">
        <div class="media-left">
          <br/>
          <br/>
          <div class="btn-group-vertical btn-broup-sm">
            <%= render partial: "posts/upvote", locals: { upvote: posts } %>

            <button type="button" name="button" class="btn btn-default">
              <%= posts.score %>
            </button>

            <%= render partial: "posts/downvote", locals: { downvote: posts } %>
          </div>
        </div>
        <div class="media-right">

        </div>
        <div class="media-body">
          <!-- image thumbnail for post -->



            <% if logged_in? && posts.user_id == current_user.id %>
              <i class="fa fa-chevron-down fa-sm pull-right del-toggle"></i>
              <div class="btn-group toggle pull-right">
                <%= link_to(edit_post_path(posts), class: "btn btn-primary btn-xs") do %>
                  Edit <i class="fa fa-pencil"></i>
                <% end %>
                <%= link_to(post_path(posts), method: :delete,
                data: { confirm: "Are you sure?"}, class: "btn btn-danger btn-xs" ) do %>
                  Delete <i class="fa fa-trash-o"></i>
                <% end %>
              </div>
            <% end %>
            <br/>
            <br/>
              <%= link_to posts.img_url do %>
              <img src="<%= posts.img_url %>" width="70px" height="70px" alt="" class="media-object pull-right">
              <% end %>



          <!-- link to show page for post -->

            <%= link_to(posts.link) do %>
            <h3 class="media-heading">
              <%= posts.title %>
            </h3>
            <% end %>

          <!-- end show page link -->

          <!-- header body text & truncated -->
                <%= truncate(posts.body, length: 100, omission: '... (click to see more)') %>
                <br/>
                <br/>
                <!-- time made info -->
                <label class="label label-primary"><%= posts.user.username %></label>
                <small>Posted <%= time_ago_in_words(posts.created_at) %> ago.</small>

                <!-- view link button to open link associated with post -->
                <div class="post-foot">
                  <div class="media-left">
                    <%= link_to pluralize(posts.comments.count, "comment"), post_path(posts), class: "btn btn-default btn-sm" %>

                    <% posts.categories.each do |category| %>
                      <%= link_to category.name, category_path(category), class: "btn btn-info btn-xs pad" %>
                    <% end %>
                  </div>

                  <!-- edit buttons -->

                </div>

        </div>
      </div>
    </div>

  </div>

</div>
