<div class="jumbotron">
</div>

<div class="container">

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-xs-12">

            <div class="for-del">
              <div class="pull-right">
                <i class="fa fa-chevron-down fa-sm del-toggle"></i>
                <% if logged_in? && @post.user_id == current_user.id %>

                  <div class="btn-group toggle ">
                    <%= link_to(edit_post_path(@post), class: "btn btn-primary btn-xs") do %>
                      Edit <i class="fa fa-pencil"></i>
                    <% end %>
                    <%= link_to(post_path(@post), method: :delete,
                    data: { confirm: "Are you sure?"}, class: "btn btn-danger btn-xs" ) do %>
                      Delete <i class="fa fa-trash-o"></i>
                    <% end %>
                  </div>
                <% end %>
              </div>

              <div class="media-left">

                <% @post.categories.each do |category| %>
                  <%= link_to category.name, category_path(category), class: "btn btn-info btn-xs pad" %>
                <% end %>
              </div>

            </div>

          </div>


          <div class="col-xs-2 col-xs-push-8 col-sm-2 col-sm-push-10 pad">
            <%= link_to @post.img_url do %>
              <img src="<%= @post.img_url %>" width="90px" height="90px" alt="" class="media-object ">
            <% end %>
          </div>

          <div class="col-xs-10 col-xs-pull-2 pad">

            <div class="media-body ">
              <!-- image thumbnail for post -->


              <!-- link to show page for post -->


                <h2 class="media-heading">
                  <%= @post.title %>
                </h2>


              <!-- end show page link -->

              <!-- header body text & truncated -->
                    <%= truncate(@post.body, length: 100, omission: '... (click to see more)') %>
                    <br/>
                    <br/>
                    <!-- time made info -->
                    <label class="label label-primary"><%= @post.user.username %></label>
                    <small>Posted <%= time_ago_in_words(@post.created_at) %> ago</small>



            </div>
            <!-- view link button to open link associated with post -->
            <div class="post-foot">

                <ul>
                  <li>
                    <%= render partial: "posts/upvote", locals: { upvote: @post } %>
                  </li>
                  <li>
                    <button type="button" name="button" class="btn btn-default btn-sm">
                      <%= @post.score %>
                    </button>
                  </li>
                  <li>
                    <%= render partial: "posts/downvote", locals: { downvote: @post } %>

                  </li>

                  <li>
                    <%= link_to pluralize(@post.comments.count, "comment"), post_path(@post), class: "btn btn-default btn-sm " %>
                  </li>
                </ul>

              <!-- edit buttons -->

            </div>
          </div>
        </div>


          <!-- end panel body -->


          <div class="panel-footer">
            <% if logged_in? %>

              <%= render partial: "comments/form", locals: { commentable: @post } %>

            <% else %>

              <h3>Please log in to make a comment.</h3>

            <% end %>
            <!-- show all post comments -->
            <% if @post.comments.any? %>

              <ul class="list-group">
                <%= render partial: "comments/comments", collection: @comments %>
              </ul>

            <% end %>
            <!-- end show post comments -->

          </div>


      </div>


</div>
